<div
  class="container-fluid"
  *ngIf="menu"
  [ngStyle]="{'background-image': 'url(' + menu.background + ')'}">
  <div class="footer-overlay pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6" *ngFor="let c of menu.categories">
            <h3>{{ c.categoryTitle }}</h3>
            <ul class="list-unstyled">
                <li *ngFor="let i of c.categoryItems">
                    <a [routerLink]="'/' + [i.link]" class="text-dark" (click)="scrollTo()">{{ i.title}}</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-primary">
  <div class="pt-4 pb-4">
    <div class="col text-center">
        <p class="text-light mt-4">
          <a [routerLink]="['/privacy']" class="text-light">Privacy Policy</a>
          <span class="text-light"> | </span>
          <a [routerLink]="['/cookies']" class="text-light">Cookies</a>
        </p>
        <p class="text-light mt-4 mb-4">
          Copyright © 2018 Östra Lindås Samfällighet
        </p>
      </div>
  </div>
</div>
